/* Body styles  */

section {
	padding: 40px;
}

@media screen and (max-width: 479px) {
	section {
		padding: 20px;
	}
}

/* Button styles */

button {
	border-radius: 25px;
	padding: 10px 20px;
	border: none;
	box-shadow: 0px 6px 15px 0px rgba(0, 0, 0, 0.25);
	background-color: #fff;
	font-weight: bold;
}

/* Top hero image:  */

.hero-image {
	background: linear-gradient(rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.25)),
		url("../../public/images/vw-teal-hand-outside-window.png") no-repeat center
			30%/100%;
}
.hero-image h1 {
	padding: 90px 0;
	color: #fff;
}

@media screen and (max-width: 379px) {
	.hero-image {
		background-size: cover;
	}
}

/* Home page sections:  */

.travel-friends {
	display: flex;
	flex-wrap: wrap;
	gap: 50px;
}
.why-travel p {
	padding: 0 100px;
}
.friends-col-1 {
	flex-basis: calc(50% - 25px);
}
.friends-col-2 {
	flex-basis: calc(50% - 25px);
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 40px;
}
.friends-col-2 h3 {
	margin: 0;
}
.friends-col-1 img {
	border-radius: 10px;
}
@media screen and (min-width: 979px) {
	.travel-friends .mobile-headline {
		display: none;
	}
}
@media screen and (max-width: 979px) {
	.travel-friends {
		gap: 0;
	}
	.travel-friends .desktop-headline {
		display: none;
	}
	.friends-col-1,
	.friends-col-2 {
		flex-basis: calc(100% - 10px);
		gap: 10px;
	}
	section.travel-friends,
	.why-travel p {
		padding: 0;
	}
}

/* Star component;  */

.rating-container {
	display: flex;
	gap: 8px;
	padding: 16px 0;
}
.rating-container svg {
	fill: var(--tangelo);
	width: 15px;
}

/* Views component:  */
.views-container {
	display: flex;
	align-items: center;
	gap: 6px;
}
.views-number {
	margin: 0;
}

/* Comments Counter component:  */
.comments-counter {
	display: flex;
	align-items: center;
	gap: 6px;
}
.comments-number {
	margin: 0;
}

/* Byline component:  */

.byline {
	display: flex;
	gap: 0.3rem;
}
